.textBanner{
    text-align: center;
    line-height: 50px;
}
.textBanner h1 {
    text-align: center;
    color: seagreen;
}
.textBanner p {
    text-align: center;
    font-size: 18px;
    color: seagreen;
}
.textBanner .btn {
    background-color: seagreen;
    border-color: seagreen;
}

.card-body h5 {
    font-size: 16px;
    color: seagreen;
}
.card-img-top {
  width: 100%;
  height: 300px;        /* fixed height */
  object-fit: cover;    /* crop image nicely */
}
.card-body .btn{
    margin-top: 8px;
    background-color: seagreen;
    border-color: seagreen;
}
.breadcrumb {
    margin-left: 14px;
}
.productImage {
    width: 600px;
    height: 600px;
}
/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
