<footer class="site-footer">
    <div class="footer-social">
        <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-youtube"></i></a>
        <a href="#"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-line"></i></a>
    </div>

    <a class="footer-link">This website is a preview project created for educational purposes only</a>

    <p class="footer-text">
        Not an official website
    </p>

    <p class="footer-dev">
        Developed by 
        <div>Yanawut Sorntavorn</div>
        <div>Natthamon Paengkam</div>
        <div>Nutsorn Vanasilapin</div>
    </p>
</footer>
