<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/Flower-Store/index.html">Home</a>
        <div class="nav-item dropdown">
          <a class="nav-link" href="../flowerPage/fresh.html">Fresh Flower</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Flower-Store/flowerPage/fresh.html?type=bouquet">Fresh Flower Bouquet</a></li>
            <li><a class="dropdown-item" href="/Flower-Store/flowerPage/fresh.html?type=box">Fresh Flower Box</a></li>
            <li><a class="dropdown-item" href="/Flower-Store/flowerPage/fresh.html?type=basket">Fresh Flower Basket</a></li>
            <li><a class="dropdown-item" href="/Flower-Store/flowerPage/fresh.html?type=vase">Fresh Flower Vase</a></li>
          </ul>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link" href="../flowerPage/artificial.html">Artificial Flower</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Flower-Store/flowerPage/artificial.html?type=bouquet">Artificial Flower Bouquet</a></li>
            <li><a class="dropdown-item" href="/Flower-Store/flowerPage/artificial.html?type=box">Artificial Flower Box</a></li>
            <li><a class="dropdown-item" href="/Flower-Store/flowerPage/artificial.html?type=basket">Artificial Flower Basket</a></li>
            <li><a class="dropdown-item" href="/Flower-Store/flowerPage/artificial.html?type=vase">Artificial Flower Vase</a></li>
          </ul>
        </div>
        <a class="nav-link" href="/Flower-Store/contact.html">Contact Us</a>
      </div>
    </div>
  </div>
</nav>